C 0 0 "TXD" 0 0 0 0 60 0 L
X "PIN_TEXT" "TXD" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "OUTPUT" 230 -130 0 0.00 60 0 0 0 0 0 0 0 0
X "VOH" "4.9" 230 -230 0 0.00 60 0 0 0 0 0 0 0 0
X "VOL" "0.3" 230 -330 0 0.00 60 0 0 0 0 0 0 0 0
L 200 0 0 0 -1 0
C 0 -100 "DTR#" 0 -100 0 0 60 0 L
X "PIN_TEXT" "DTR#" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "OUTPUT" 230 -230 0 0.00 60 0 0 0 0 0 0 0 0
X "VOH" "4.9" 230 -330 0 0.00 60 0 0 0 0 0 0 0 0
X "VOL" "0.3" 230 -430 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -100 0 -100 -1 0
C 0 -200 "RTS#" 0 -200 0 0 60 0 L
X "PIN_TEXT" "RTS#" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "OUTPUT" 230 -330 0 0.00 60 0 0 0 0 0 0 0 0
X "VOH" "4.9" 230 -430 0 0.00 60 0 0 0 0 0 0 0 0
X "VOL" "0.3" 230 -530 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -200 0 -200 -1 0
C 0 -300 "VCCIO" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VCCIO" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "POWER" 230 -430 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -300 0 -300 -1 0
C 0 -400 "RXD" 0 -400 0 0 60 0 L
X "PIN_TEXT" "RXD" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "INPUT" 230 -530 0 0.00 60 0 0 0 0 0 0 0 0
X "VMIN" "-0.5" 230 -630 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -400 0 -400 -1 0
C 0 -500 "RI#" 0 -500 0 0 60 0 L
X "PIN_TEXT" "RI#" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "INPUT" 230 -630 0 0.00 60 0 0 0 0 0 0 0 0
X "VMIN" "-0.5" 230 -730 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -500 0 -500 -1 0
C 0 -600 "GND_1" 0 -600 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "GROUND" 230 -730 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -600 0 -600 -1 0
C 0 -700 "NC_1" 0 -700 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "DSR#" 0 -800 0 0 60 0 L
X "PIN_TEXT" "DSR#" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "INPUT" 230 -930 0 0.00 60 0 0 0 0 0 0 0 0
X "VMIN" "-0.5" 230 -1030 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -800 0 -800 -1 0
C 0 -900 "DCD#" 0 -900 0 0 60 0 L
X "PIN_TEXT" "DCD#" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "INPUT" 230 -1030 0 0.00 60 0 0 0 0 0 0 0 0
X "VMIN" "-0.5" 230 -1130 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -900 0 -900 -1 0
C 0 -1000 "CTS#" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "CTS#" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "INPUT" 230 -1130 0 0.00 60 0 0 0 0 0 0 0 0
X "VMIN" "-0.5" 230 -1230 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -1000 0 -1000 -1 0
C 0 -1100 "CBUS4" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "CBUS4" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "BIDIR" 230 -1230 0 0.00 60 0 0 0 0 0 0 0 0
X "IOUT" "24m" 230 -1330 0 0.00 60 0 0 0 0 0 0 0 0
X "VMIN" "-0.5" 230 -1430 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -1100 0 -1100 -1 0
C 0 -1200 "CBUS2" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "CBUS2" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "BIDIR" 230 -1330 0 0.00 60 0 0 0 0 0 0 0 0
X "IOUT" "24m" 230 -1430 0 0.00 60 0 0 0 0 0 0 0 0
X "VMIN" "-0.5" 230 -1530 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -1200 0 -1200 -1 0
C 0 -1300 "CBUS3" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "CBUS3" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
X "Type" "BIDIR" 230 -1430 0 0.00 60 0 0 0 0 0 0 0 0
X "IOUT" "24m" 230 -1530 0 0.00 60 0 0 0 0 0 0 0 0
X "VMIN" "-0.5" 230 -1630 0 0.00 60 0 0 0 0 0 0 0 0
L 200 -1300 0 -1300 -1 0
C 1300 0 "OSCO" 1300 0 0 0 60 0 R
X "PIN_TEXT" "OSCO" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "OUTPUT" 1070 -130 0 0.00 60 0 0 2 0 0 0 0 0
X "VOH" "4.9" 1070 -230 0 0.00 60 0 0 2 0 0 0 0 0
X "VOL" "0.3" 1070 -330 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 0 1300 0 -1 0
C 1300 -100 "OSCI" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "OSCI" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "INPUT" 1070 -230 0 0.00 60 0 0 2 0 0 0 0 0
X "VMIN" "-0.5" 1070 -330 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -100 1300 -100 -1 0
C 1300 -200 "TEST" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "TEST" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "INPUT" 1070 -330 0 0.00 60 0 0 2 0 0 0 0 0
X "VMIN" "-0.5" 1070 -430 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -200 1300 -200 -1 0
C 1300 -300 "AGND" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "AGND" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "GROUND" 1070 -430 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -300 1300 -300 -1 0
C 1300 -400 "NC_2" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "NC_2" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 1300 -500 "CBUS0" 1300 -500 0 0 60 0 R
X "PIN_TEXT" "CBUS0" 1070 -530 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "BIDIR" 1070 -630 0 0.00 60 0 0 2 0 0 0 0 0
X "IOUT" "24m" 1070 -730 0 0.00 60 0 0 2 0 0 0 0 0
X "VMIN" "-0.5" 1070 -830 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -500 1300 -500 -1 0
C 1300 -600 "CBUS1" 1300 -600 0 0 60 0 R
X "PIN_TEXT" "CBUS1" 1070 -630 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "BIDIR" 1070 -730 0 0.00 60 0 0 2 0 0 0 0 0
X "IOUT" "24m" 1070 -830 0 0.00 60 0 0 2 0 0 0 0 0
X "VMIN" "-0.5" 1070 -930 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -600 1300 -600 -1 0
C 1300 -700 "GND_3" 1300 -700 0 0 60 0 R
X "PIN_TEXT" "GND_3" 1070 -730 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "GROUND" 1070 -830 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -700 1300 -700 -1 0
C 1300 -800 "VCC" 1300 -800 0 0 60 0 R
X "PIN_TEXT" "VCC" 1070 -830 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "POWER" 1070 -930 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -800 1300 -800 -1 0
C 1300 -900 "RESET#" 1300 -900 0 0 60 0 R
X "PIN_TEXT" "RESET#" 1070 -930 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "INPUT" 1070 -1030 0 0.00 60 0 0 2 0 0 0 0 0
X "VMIN" "-0.5" 1070 -1130 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -900 1300 -900 -1 0
C 1300 -1000 "GND_2" 1300 -1000 0 0 60 0 R
X "PIN_TEXT" "GND_2" 1070 -1030 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "GROUND" 1070 -1130 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -1000 1300 -1000 -1 0
C 1300 -1100 "3V3OUT" 1300 -1100 0 0 60 0 R
X "PIN_TEXT" "3V3OUT" 1070 -1130 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "OUTPUT" 1070 -1230 0 0.00 60 0 0 2 0 0 0 0 0
X "VOH" "4.9" 1070 -1330 0 0.00 60 0 0 2 0 0 0 0 0
X "VOL" "0.3" 1070 -1430 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -1100 1300 -1100 -1 0
C 1300 -1200 "USBDM" 1300 -1200 0 0 60 0 R
X "PIN_TEXT" "USBDM" 1070 -1230 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "BIDIR" 1070 -1330 0 0.00 60 0 0 2 0 0 0 0 0
X "IOUT" "24m" 1070 -1430 0 0.00 60 0 0 2 0 0 0 0 0
X "VMAX" "3.8" 1070 -1530 0 0.00 60 0 0 2 0 0 0 0 0
X "VMIN" "-0.5" 1070 -1630 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -1200 1300 -1200 -1 0
C 1300 -1300 "USBDP" 1300 -1300 0 0 60 0 R
X "PIN_TEXT" "USBDP" 1070 -1330 0 0.00 60 0 0 2 0 0 1 0 74
X "Type" "BIDIR" 1070 -1430 0 0.00 60 0 0 2 0 0 0 0 0
X "PULL_UP" "1.5k" 1070 -1530 0 0.00 60 0 0 2 0 0 0 0 0
X "IOUT" "24m" 1070 -1630 0 0.00 60 0 0 2 0 0 0 0 0
X "VMAX" "3.8" 1070 -1730 0 0.00 60 0 0 2 0 0 0 0 0
X "VMIN" "-0.5" 1070 -1830 0 0.00 60 0 0 2 0 0 0 0 0
L 1100 -1300 1300 -1300 -1 0
L 200 100 1100 100 -1 0
L 1100 -1400 1100 100 -1 0
L 1100 -1400 200 -1400 -1 0
L 200 100 200 -1400 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

